version: '3'
services:

  launchable:
    env_file:
      - .env
    build:
      context: .
    ports:
      - 5000:5000
    expose:
      - 5000
    container_name: launchable-backend
    restart: always
