{% set menu = appbuilder.menu %}
{% set languages = appbuilder.languages %}

<nav class="navbar {{menu.extra_classes}} navbar-expand-lg navbar-dark bg-dark navbar-expand-lg static-top" role="navigation">
   <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if appbuilder.app_icon %}
                <a class="navbar-brand text-light" href="{{appbuilder.get_url_for_index}}">
                  <img class="img-responsive" src="{{appbuilder.app_icon}}" height="100%" width="auto">
                </a>
            {% else %}
                <span class="navbar-brand">
                <a class="text-light" href="{{appbuilder.get_url_for_index}}">
                {{ appbuilder.app_name }}
                </a>
                </span>
            {% endif %}
        </div>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-nav navbar-left mr-auto">
                {% include 'navbar_menu.html' %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% include 'navbar_right.html' %}
            </ul>
        </div>
   </div>
</nav>
