
{% macro locale_menu(languages) %}
{% set locale = session['locale'] %}
{% if not locale %}
    {% set locale = 'en' %}
{% endif %}
{% if languages.keys()|length > 1 %}
<li class="nav-item dropdown">
    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="javascript:void(0)" href="javascript:void(0)" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
       <div class="f16"><i class="flag {{languages[locale].get('flag')}}"></i><b class="caret"></b>
       </div>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
    <li class="nav-item dropdown">
        {% for lang in languages %}
            {% if lang != locale %}
                <a tabindex="-1" href="{{appbuilder.get_url_for_locale(lang)}}">
                  <div class="f16"><i class="flag {{languages[lang].get('flag')}}"></i> - {{languages[lang].get('name')}}
                </div></a>
            {% endif %}
        {% endfor %}
        </li>
        </ul>
</li>
{% endif %}
{% endmacro %}

{{ locale_menu(languages) }}
{% if not current_user.is_anonymous %}
    <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" id="navbarDropdown3" role="button" aria-haspopup="true" aria-expanded="false">
           <span class="fa fa-rocket"></span> {{g.user.username}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li class="nav-item dropdown-item"><a class="nav-link" href="{{appbuilder.get_url_for_userinfo}}"><span class="fa fa-fw fa-rocket"></span>{{_("Profile")}}</a></li>
            <li class="nav-item dropdown-item"><a class="nav-link" href="{{appbuilder.get_url_for_logout}}"><span class="fa fa-fw fa-sign-out"></span>{{_("Logout")}}</a></li>
        </ul>
    </li>
{% else %}
    <li class="nav-item dropdown-item"><a class="nav-link" href="/web3connectview/web3/1">
    <i class="fa fa-fw fa-sign-in"></i>{{_("Launch Project")}}</a></li>
{% endif %}
