{% extends 'web3_init.html' %}
{% import 'web3_baselib.html' as baselib %}

{% block body %}
{% include 'confirm.html' %}
{% include 'alert.html' %}

{% block navbar %}
<header class="top" role="header">
    {% include 'navbar.html' %}
</header>
{% endblock %}

<div class="container">
    {% block messages %}
    {% include 'appbuilder/flash.html' %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
<footer>
    <div class="img-rounded nav-fixed-bottom">
        <div class="container">
            {% include 'appbuilder/footer.html' %}
        </div>
    </div>
</footer>
{% endblock %}
{% endblock %}

{% block tail_js %}
{{ super() }}
<script src="/static/dist/main.js"></script>
{% endblock %}
